<nav class="navbar sticky-top navbar-expand-lg app-background-escuro-2">
    <div class="container py-2">

        <a class="navbar-brand fw-semibold" href="#">Eduardo Tortelli</a>
        
        <button (click)="colapsarNavBar = !colapsarNavBar" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [ngClass]="{show : colapsarNavBar}">

            <div class="navbar-nav ms-auto">
                <a *ngFor="let link of linksNavBar" class="nav-link active" aria-current="page" [href]="link.href"> {{link.texto}}</a>
            </div>          

        </div>          

    </div>
</nav>