<section class="app-background-escuro d-flex justify-content-center align-items-center" id="portfolio">
    <div class="container">
      <h2 class="display-5 fw-bold text-center">Portfólio</h2>
  
        <div class="row flex-wrap justify-content-center g-3 mt-5">

            <div class="col-lg-4">
                <a target="_blank" href="https://www.academiadoprogramador.net">
                    <img clas="img-fluid rounded-4" src="/img-academia-sm.png" alt="Website da Academia do Programador versão mobile"/>
                </a>
            </div>
  
            <div class="col">
                <img class="img-fluid rounded-4" src="/img-gerenciador-cinema.png" alt="Aplicação Gerador de Cinema"/>
            </div>

        </div>

    </div>
</section>