<section class="app-background-escuro-2 d-flex justify-content-center align-items-center mt-5 mb-3" id="sobre">
    <div class="container">

        <div class="d-flex justify-content-center">
            <img class="img-fluid rounded-pill" src="assets/foto-portfolio.jpeg" alt="Foto do Eduardo Tortelli" width="350" height="350">      
        </div>

        <h2 class="display-5 fw-bold text-center mt-5">Um pouco sobre mim</h2>

        <div class="row flex-wrap mt-5">

            <div class="col-lg-8">

                <h3 class="fs-3">
                    Meu nome é <span class="app-texto-principal">Eduardo Tortelli</span>, sou um desenvolvedor Full-Stack
                </h3>

                <p class="fs-5 mt-3">
                    Sou
                    <span class="app-texto-principal fw-semibold">Joia</span> <br>
                    <span class="app-texto-principal fw-semibold">Joia</span>
                </p>

                <p class="fs-5">
                    Hoje sou estudante na Uniplac e curso a academia do programador
                </p>

            </div>

            <div class="col">

                <ul class="list-group">
                    <li class="list-group-item py-3 app-background-principal"><strong>Nome: </strong>Eduardo Tortelli</li>
                    <li class="list-group-item py-3 app-background-secundario"><strong>Email: </strong><a href="mailto:euardotortellidudu9@gmail.com">eduardotortellidudu9&#64;gmail.com</a></li>
                    <li class="list-group-item py-3 app-background-principal"><strong>Idade: </strong>19</li>
                    <li class="list-group-item py-3 app-background-secundario"><strong>De: </strong>Lages, Santa Catarina</li>
                </ul>

                <div class="d-flex justify-content-center align-items-center gap-3 mt-3">

                    <a rel="noopener" class="text-light" href="https://github.com/Tortelli0" target="_blank">
                        <i class="bi bi-github fs-1"></i>
                    </a>

                    <a rel="noopener" class="text-light" href="https://www.linkedin.com/in/eduardotortelli/" target="_blank">
                        <i class="bi bi-linkedin fs-1"></i>
                    </a>

                    <a rel="noopener" class="btn btn-lg app-background-principal app-hover-secundario rounded-5 px-md-5 fw-semibold" href="https://api.whatsapp.com/send?phone=5549998188861&text&type=phone_number&app_absent=0" target="_blank">
                        Contato via WhatsApp
                    </a>

                </div>

            </div>

        </div>

    </div>
</section>