<section class="app-background-escuro-2 d-flex justify-content-center align-items-center" id="experiencias">
    <div class="container">
        <h2 class="display-5 fw-bold text-center">Experiências</h2>
  
        <div class="row flex-wrap justify-content-center g-3 mt-5">

            <div class="col">
                <div class="card h-100">

                    <div class="card-header">
                        <span class="rounded-pill text-bg-warning px-3">Dez/2021 - Atualmente</span>
                        <br/>

                        <img class="my-3" src="/logo-academia.png"alt="Logo da Academia do Programador"/>

                        <br/>
                        <label>Professor de Programação</label>
                    </div>
        
                    <div class="card-body">
                        <p>
                            Responsável pela instrução do curso, desenvolvimento e integração
                            das aplicações web e sistemas internos da organização.
                        </p>
            
                        <p>
                            <span class="fw-semibold">Stack:</span> .NET Framework, .NET 8, Entity Framework Core,
                            ASP.NET Core MVC, ASP.NET Web API, MSTest, Docker, Angular.
                        </p>
                    </div>

                </div>
            </div>
    
            <div class="col">
                <div class="card h-100">

                    <div class="card-header">
                        <span class="rounded-pill text-bg-warning px-3"> Mar/2021 - Dez/2021 </span>
                        <br/>

                        <img class="my-3" src="/logo-ndd-secundaria.png" alt="Logo da NDD"/>

                        <br/>
                        <label>Estagiário</label>
                    </div>
        
                    <div class="card-body">
                        <p>
                            <span class="fw-semibold">Stack:</span> .NET Framework, .NET Core, Entity Framework
                            Core, ASP.NET Core MVC, ASP.NET Web API, Angular.
                        </p>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>